.background {
  background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url("https://raw.githubusercontent.com/diabagatekelly/tuzag-cover-letter/master/src/assets/Kelly_D.jpg") no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

.header {
  background-color: black;
  padding: 1em;
  color: white
}


.grid {
  display: grid;
  grid-template-areas:
  'quest1 quest2 quest3 quest4'
  'quest5 quest6 quest7 quest8';
}

.questionDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 1em;
  background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)), url("../../assets/tech_background.jpg") no-repeat;
  /* background-color: white; */
  font-weight: bold;
  cursor: pointer;
  min-width: 25vw;
  height: 43vh;
  text-shadow: 0.5px 0.5px black;

}

.hide {
  display: none
}

.transparent {
  background-color: transparent;
  background: none;
}

.hide.answer {
  display: block;
}

/* .quest1 {
  grid-area: quest1;
}
.quest2 {
  grid-area: quest2
}
.quest3 {
  grid-area: quest3
}
.quest1 {
  grid-area: quest1
}
.quest1 {
  grid-area: quest1
}
.quest1 {
  grid-area: quest1
}
.quest1 {
  grid-area: quest1
}
.quest1 {
  grid-area: quest1
}
.quest1 {
  grid-area: quest1
} */

