.container-fluid {
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)), url("../../assets/tech_background.jpg") no-repeat;
  background-size: cover;
}

.card {
  width: 75%;
  margin: 0 auto;
  padding: 1em;
}

button {
  margin: 1em auto;
  width: 50%

}
